<div id="container-floating">

  <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder"><a href="https://www.facebook.com/harsh.srivastava.7374">
      <img class="reminder" src="https://instagram.fbom1-1.fna.fbcdn.net/vp/d031a62f72dc61d4d5ee7bd7fcde1df8/5C2F6958/t51.2885-19/s320x320/19761689_822203141288889_1485469513687236608_n.jpg" style="
    height: 50px;
    width: 50px;
    border-radius: 30px;
"></a></div>
  <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com"><img class="reminder">
      <a href="/scorecard/" ><p style="font-size:15px;" class="letter">Score</p></a>
  </div>
  <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
      <a href="/rules/" ><p style="font-size:15px;" class="letter">Rules</p></a>
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
    <p class="plus">+</p>
    <img class="edit" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>

</div>