<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href={% static 'quiz/profile.css' %}>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.loader {
		  border: 16px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 16px solid blue;
		  border-bottom: 16px solid blue;
		  width: 120px;
		  height: 120px;
		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		}

		.option-question {
			 align:left;
			 clear: both;
			 margin: 0 0px;
		}
		option-property{
			margin-left:3.25em;
			word-wrap: break-word;
		}
		label {
		width: 100%;
		border-radius: 3px;
		margin-left: .5em;
		}

		/* hide input
		input.radio:empty {
			margin-left: -999px;
		}*/
        input[type="radio"]{
            width: 2em;
    		height: 2em;
        }

		input.radio:empty ~ label {
			position: relative;
			float: left;
			margin-top: 2em;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		input.radio:empty ~ label:before {
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			content: '';
			width: 2.5em;
			background: #D1D3D4;
			border-radius: 3px 0 0 3px;
		}

		/* toggle hover */
		input.radio:hover:not(:checked) ~ label:before {
			content:'\2714';
			text-indent: .9em;
			color: #C2C2C2;
		}

		input.radio:hover:not(:checked) ~ label {
			color: #888;
		}

		/* toggle on */
		input.radio:checked ~ label:before {
			content:'\2714';
			text-indent: .9em;
			color: #9CE2AE;
			background-color: #4DCB6D;
		}

		input.radio:checked ~ label {
			color: #777;
		}
		body {
		    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 128, 128));
		}
		#tower{
		  background-color:#419D78;
		  color:#EFD0CA;
		  font-size:20px;
		  text-align:center;
		}
		        html,body {
            padding: 0;
            margin: 0;
        }


        footer {

            width: 100%;
            bottom: 0;
            position: fixed;
        }
        .fa {
			padding: 5px;
			font-size: 10px;
			width: 15px;
			text-align: center;
			text-decoration: none;
			border-radius:10px;
		}

		/* Add a hover effect if you want */
		.fa:hover {
			opacity: 0.7;
		}

		/* Set a specific color for each brand */

		/* Facebook */
		.fa-facebook {
			background: #3B5998;
			color: white;
		}


	</style>
</head>
<!--background:linear-gradient(-135deg, #c850c0, #4158d0); min-width:100ev;-->
<body style="padding: 20px;">
<div class="container">
<ul style="display:none">
	{% for k in attempts %}
		<p class="done" id=select{{ k.0 }} >{{ k.1 }}</p>
	{% endfor %}
</ul>
  <div id="tower">Time left = <span id="timer"></span></div>
	<p id="timeleft" style="display:none;">{{ timeleft }}</p>
<div class="row" class="align-items-center" style="justify-content:center;margin-top:5%;">
<div class="col-sm-8">
	{% for question in questions %}
		{% if forloop.first %}
    		<div id={{ question.0 }} class="onselected" >
	    {% else %}
	        <div id={{ question.0 }} style="display:none;">
		{% endif %}
    <div class="card">
        <div class="card-header text-white bg-info mb-3" style="text-align:left;">
			<h3>{{ question.1 | safe }}</h3>
        </div>
        <div class="card-body box-shadow" id="question">
			<h5 class="card-title"></h5>
                    <form method="post" action="/answer/submit/">
						<input type="hidden" name="quesid" value={{ question.0 }} readonly>
                        {% csrf_token %}
						<div class="form-check" style="margin-bottom:15px;">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  id="radio1" value="1" required>
						  <label class="form-check-label" for="radio1" style="padding:10px;">
							{{ question.2 }}
						  </label>
						</div>
						<div class="form-check" style="margin-bottom:15px;">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  id="radio2" value="2" >
						  <label class="form-check-label" for="radio2" style="padding:10px;">
							{{ question.3 }}
						  </label>
						</div>
						<div class="form-check" style="margin-bottom:15px;">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  id="radio3" value="3" >
						  <label class="form-check-label" for="radio3" style="padding:10px;">
							{{ question.4 }}
						  </label>
						</div>
						<div class="form-check" style="margin-bottom:15px;">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  id="radio4" value="4" >
						  <label class="form-check-label" for="radio4" style="padding:10px;">
							{{ question.5 }}
						  </label>
						</div>
						<div style="align:center;clear: both;margin:0px 45%;">
							<button type="submit" class="btn btn-info" style="margin-top:25px;" >Submit</button>
						</div>
                    </form>
            </h1>
         </div>
    </div>
			</div>
    {% endfor %}
				<a href="/endtest/" class="btn btn-danger" style="margin:15px;">End Test</a>
</div>
<div class="col-sm-4">
	<h6> 1-40 consists of Verbal Question</h6>
	<h6> 41-55 consists of Quantitative Questions </h6>
	<h6> 56-65 consists of Logical Reasoning Questions </h6>
	<div class="container">
		<div class="card">
			<div class="card-header bg-info text-white">
			    All Questions
			</div>
			<div class="card-body">
				<div class="row">
				{% for question in questions %}
					<div class="col-sm-4" >
						{% if forloop.first %}
							<button onclick=showquestion({{ question.0 }}) id=question{{ question.0 }}>{{ forloop.counter }}</button>
						{% else %}
							<button onclick=showquestion({{ question.0 }}) id=question{{ question.0 }} >{{ forloop.counter }}</button>
						{% endif %}
					</div>
				{% endfor %}
				</div>
				</ul>
	  		</div>
		</div>
	</div>
</div>
</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			//console.log("adhsaj");
			done_one=document.getElementsByClassName("done");
			//console.log(done_one);
			for(k in done_one)
			{
				idbutton=done_one[k].id.replace('select','');
				//console.log(idbutton);
				var kh='input:radio[name='+idbutton+']';
				$('#question'+idbutton).css('background-color','lightgreen');
				//console.log(parseInt($(done_one[k])[0].innerHTML));
				$(kh)[$(done_one[k])[0].innerHTML].checked=true;
			}
		});
		function showquestion(he){
			var select=document.getElementsByClassName("onselected");
			$(select[0]).hide();
			$(select[0]).removeClass("onselected");
			$('#'+he).show();
			$('#'+he).addClass("onselected");
		}
		document.getElementById('timer').innerHTML =document.getElementById('timeleft').innerHTML;
			startTimer();
			function startTimer() {
			  var presentTime = document.getElementById('timer').innerHTML;
			  var timeArray = presentTime.split(/[:]+/);
			  var m = timeArray[0];
			  var s = checkSecond((timeArray[1] - 1));
			  if(s==59){m=m-1}
			  if(m<0){alert('timer completed');
			  	location.reload(true);
			  }

			  document.getElementById('timer').innerHTML =
				m + ":" + s;
			  setTimeout(startTimer, 1000);
			}
			function checkSecond(sec) {
			  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
			  if (sec < 0) {sec = "59"};
			  return sec;
			}

	</script>
	{% include 'quiz/float.html' %}

</body>
</html>
