<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href={% static 'quiz/images/icons/favicon.ico' %}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/bootstrap/css/bootstrap.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/animate/animate.css' %}>
<!--=========================
======================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/css-hamburgers/hamburgers.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/select2/select2.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/css/util.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'quiz/css/main.css' %}>

	<link rel="stylesheet" type="text/css" href={% static 'quiz/profile.css' %}>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src={% static 'quiz/images/img-01.png' %} alt="IMG">
				</div>

				<form class="login100-form validate-form" method="POST" action="/register/">
					{% csrf_token %}
					<span class="login100-form-title">
						Member Register
					</span>

					<div class="wrap-input100 " data-validate = "Enrollment Number">
						<input class="input100" type="text" name="enroll" placeholder="Enrollment Number" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 " data-validate = "Name">
						<input class="input100" type="text" name="name" placeholder="Name" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 " data-validate = "Email is required.">
						<input class="input100" type="email" name="email" placeholder="Email" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password1" placeholder="Password" minlength="8" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password2" placeholder=" Confirm Password" minlength="8" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="/home/">
							Already have an account Login here.
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
		{% include 'quiz/float.html' %}

	
<!--===============================================================================================-->	
	<script src={% static 'quiz/vendor/jquery/jquery-3.2.1.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'quiz/vendor/bootstrap/js/popper.js' %}></script>
	<script src={% static 'quiz/vendor/bootstrap/js/bootstrap.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'quiz/vendor/select2/select2.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'quiz/vendor/tilt/tilt.jquery.min.js' %}></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src={% static 'quiz/js/main.js' %}></script>
</body>
</html>
