<!DOCTYPE html>
<html>
<head>
	<title>Rules</title>
    {% load static %}	
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href={% static 'quiz/profile.css' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
            @import url('https://fonts.googleapis.com/css?family=Copse|Coustard|Concert+One|Francois+One|Gamja+Flower|Work+Sans|Fredericka+the+Great');
        body{
        	background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 128, 128));
        	
        }
        .card{
        	margin: 0 auto;
        	margin-top: 30px;
        	background-color:rgba(245, 245, 245, 0.4);
        	opacity: 1;
        	border-radius: 50px;
        	font-weight: bold;
        }
        
        .card-body{
        	margin: 0 auto;
        	box-shadow: 0 0 10px #000000;
        	border-radius: 50px;
        	width: 640px;
        }
        .card-title{
        	text-align: center;
        	font-family: 'Francois One', sans-serif;
        	font-size: 3rem;
        }
        hr{
        	color: black;
        	background-color: black;
        }
        .card-text{
        	text-align: center;
        	font-family: 'Francois One', sans-serif;
        	font-size: 0.8rem;
        }
        li{
        	animation: tilt 4s ease-in-out;
        	font-size: 1.5rem;
        }
        @keyframes tilt{
        	from {
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
        
          }
        
          60% {
            transform: skewX(20deg);
            opacity: 1;
          }
        
          80% {
            transform: skewX(-5deg);
          }
        
          to {
            transform: translate3d(0, 0, 0);
          }
        }
    </style>
</head>
<body>
	<div class="card" style="width: 40rem; height: 42rem;">
        <div class="card-body">
            <h5 class="card-title">Rules</h5>
            <p class="card-text" style="font-size:25px;">These are Some Basic Rules of our Quiz (Give them a View before you proceed)</p><hr>
            <ul class="rules">
                <li class="a1"><p>You will only have 95 minutes to solve all the question there will be 65 questions.</p></li>
                <li class="a2"><p>Once sunmitted the answer you can change you answer or go back to the previous question.</p></li>
                <li class="a2"><p>You need to click the submit button to submit you answer and you can switch over to any question using the panel on the right (AllQuestion).</p></li>
                <li class="a3"><p>If you want to see the <strong>Score Or Rules</strong> click floating button on the right bottom of the screen.</p></li>
                <li class="a3"><p>If you have any problem or query drop a comment on the 2015-2019 CSE-Btech.</p></li>
            </ul>
            <a class="btn btn-primary" href="/contest/quiz/">Proceed To quiz</a>
        </div>
    </div>

		{% include 'quiz/float.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>